Repository librocco/librocco: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

.lintstagedrc.json:

{
  "**/{pkg,apps}/**/src/**/*.{ts,js,svelte}": [
    "eslint --fix --max-warnings=0",
    "prettier --write"
  ],
  "*.{json,md,mdx}": ["prettier --write"]
}

Create a 'check-workspace-projects' rush script to check if there are unlisted artifacts in 'apps' or 'pkg' folders
  common/config/rush/command-line.json
  common/scripts/rush-check-workspace-projects.js
Due: prettier --write

Fine tune tsconfig in 'ui' package and fix ts errors
  pkg/ui/package.json
  pkg/ui/src/NoteButton/enums.ts
  pkg/ui/src/NoteButton/styles.ts
  pkg/ui/tsconfig.json
Due: eslint --fix --max-warnings=0, prettier --write

Add a check running rush 'check-workspace-projects' in CI
  .github/workflow.templates/on-push.yml
  .github/workflows/on-push.yml
Due: none

Fine tune eslint and prettier config in 'svg' package
  pkg/svg/.eslintignore
  pkg/svg/.eslintrc.cjs
  pkg/svg/.prettierignore
Due: none

Create a CI test-job template and apply to JS-Search Tests and UI Tests
  .github/workflow.templates/on-push.yml
  .github/workflow.templates/test-job.lib.yml
  .github/workflows/on-push.yml
Due: none

Add optional test report step to test-job workflow template
  .github/workflow.templates/on-push.yml
  .github/workflow.templates/test-job.lib.yml
  .github/workflows/on-push.yml
  .gitignore
  pkg/ui/package.json
Due: prettier --write

More config stuff
  pkg/couchdb/database/.eslintrc.cjs
  pkg/couchdb/database/.prettierignore
  pkg/couchdb/database/package.json
  pkg/couchdb/database/tsconfig.build.json
  pkg/couchdb/database/tsconfig.json
  pkg/couchdb/database/vite.config.js
Due: prettier --write

Migrate database interfaces to new database package
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  pkg/couchdb/database/.eslintrc.cjs
  pkg/couchdb/database/tsconfig.build.json
  pkg/couchdb/database/vite.config.js
  pkg/database/.eslintignore
  pkg/database/.eslintrc.cjs
  pkg/database/.npmrc
  pkg/database/.prettierignore
  pkg/database/.prettierrc
  pkg/database/package.json
  pkg/database/src/__testData__/dataModel.ts
  pkg/database/src/__tests__/dataModel.test.ts
  pkg/database/src/db-actions.ts
  pkg/database/src/index.ts
  pkg/database/src/pouchdb-actions.ts
  pkg/database/tsconfig.build.json
  pkg/database/tsconfig.json
  pkg/database/vite.config.ts
Due: eslint --fix --max-warnings=0, prettier --write

Remove database stuff from web package
  pkg/web/db-actions.ts
  pkg/web/pouchdb-actions.ts
  pkg/web/src/__testData__/dataModel.ts
  pkg/web/src/__tests__/dataModel.test.ts
Due: eslint --fix --max-warnings=0, prettier --write

Rewrite tests in vitest
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  pkg/database/src/__testData__/dataModel.ts
  pkg/database/src/__tests__/dataModel.test.ts
  pkg/database/src/db-actions.ts
  pkg/database/src/index.ts
  pkg/database/src/pouchdb-actions.ts
  pkg/database/src/types.ts
  pkg/scaffold/.eslintrc.js
Due: eslint --fix --max-warnings=0, prettier --write

Stricter book types
  pkg/database/src/__testData__/dataModel.ts
  pkg/database/src/__tests__/dataModel.test.ts
  pkg/database/src/db-actions.ts
  pkg/database/src/pouchdb-actions.ts
  pkg/database/src/types.ts
Due: eslint --fix --max-warnings=0, prettier --write

Change BookCopy into Volume
  pkg/database/src/__testData__/dataModel.ts
  pkg/database/src/db-actions.ts
  pkg/database/src/pouchdb-actions.ts
  pkg/database/src/types.ts
Due: eslint --fix --max-warnings=0, prettier --write

Remove the prerender directive from web-client's svelte.config
  apps/web-client/svelte.config.js
Due: none

Initial version of TextFIeld component
  pkg/ui/src/TextField/TextField.stories.svelte
  pkg/ui/src/TextField/TextField.svelte
Due: eslint --fix --max-warnings=0, prettier --write

Remove svelte config for eslint in database pkg
  pkg/database/.eslintrc.cjs
Due: none

Rush format
  pkg/database/src/__testData__/dataModel.ts
  pkg/database/src/types.ts
  pkg/ui/src/TextField/TextField.svelte
Due: eslint --fix --max-warnings=0, prettier --write
