Repository librocco/librocco: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

Update lint-staged glob pattern to include all files in 'pkg' and 'apps' folders, not only in 'src'
  .lintstagedrc.json
Due: prettier --write

Fine tune prettier and eslint for the 'ui' package, fix erroneous code
  pkg/ui/.eslintignore
  pkg/ui/.eslintrc.cjs
  pkg/ui/.prettierignore
  pkg/ui/.storybook/package.json
  pkg/ui/postcss.config.cjs
  pkg/ui/src/main.css
Due: prettier --write

Standardise scripts in 'ui' package's package.json
  pkg/ui/package.json
Due: prettier --write

Add .nvmrc (set to v16.16, lts at the moment) in the root of the repo
  .nvmrc
Due: none

Add linting for .svelte files in .lintstagedrc.json
  .lintstagedrc.json
Due: prettier --write

Create a 'check-workspace-projects' rush script to check if there are unlisted artifacts in 'apps' or 'pkg' folders
  common/config/rush/command-line.json
  common/scripts/rush-check-workspace-projects.js
Due: prettier --write

Fine tune tsconfig in 'svg' package
  pkg/svg/tsconfig.json
Due: prettier --write

Standardise scripts in 'svg' package's package.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  pkg/svg/package.json
Due: prettier --write

Add bulk 'format' command
  common/config/rush/command-line.json
Due: prettier --write

Instal the latest svelte-kit version
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
Due: prettier --write

Make the 'check-workspace-projects' run pre-commit
  common/git-hooks/pre-commit
Due: none

Move 'couchdb.ts' to scripts folder as it's not a package and is consumed only by the 'csv-to-couchdb.ts'
  scripts/csv-to-couchdb/couchdb.ts
  scripts/csv-to-couchdb/csv-to-couchdb.ts
Due: none

Add a check running rush 'check-workspace-projects' in CI
  .github/workflow.templates/on-push.yml
  .github/workflows/on-push.yml
Due: none

Fine tune tsconfig in 'ui' package and fix ts errors
  pkg/ui/package.json
  pkg/ui/src/NoteButton/enums.ts
  pkg/ui/src/NoteButton/styles.ts
  pkg/ui/tsconfig.json
Due: eslint --fix --max-warnings=0, prettier --write

Fine tune eslint and prettier config in 'svg' package
  pkg/svg/.eslintignore
  pkg/svg/.eslintrc.cjs
  pkg/svg/.prettierignore
Due: none

Path conditions:
  eslint --fix --max-warnings=0: any of: **/{pkg,apps}/**/src/**/*.{ts,js,svelte}
  prettier --write: (any of: **/{pkg,apps}/**/src/**/*.{ts,js,svelte}) or (any of: *.{json,md,mdx})
